@model QLKS.Models.tblKhachHang
@{
    ViewBag.Title = "Đăng Ký";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Đăng ký tài khoản</h3>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Tên tài khoản", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ma_kh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ma_kh, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.mat_khau, new { @class = "form-control", @id = "psw" })
                            @Html.ValidationMessageFor(model => model.mat_khau)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Xác nhân mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.mat_khau, new { @class = "form-control", @id = "confirm_psw" })
                            @Html.ValidationMessageFor(model => model.mat_khau)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Họ tên", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ho_ten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ho_ten, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Số CMT", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.cmt, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cmt, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Số ĐT", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đăng ký" class="btn btn-primary" onclick="return checkRegister();" />
                        </div>
                    </div>
                </div>
            }

            <div>
                Bạn đã có tài khoản?
            </div>
            <a href="@Url.Action("Login", "Account")"><input class="btn btn-success" value="Đăng nhập" /></a>
            <br />
            <!--<a href="@Url.Action("Index","Home")">Trang chủ</a>-->
        </div>
    </div>
</div>

<script>
    function checkRegister() {
        var user = $("#ma_kh").val();
        var psw = $("#psw").val();
        var confirmPass = $("#confirm_psw").val();
        var userName = $("#ho_ten").val();
        var cmt = $("#cmt").val();
        var sdt = $("#sdt").val();
        var mail = $("#mail").val();

        var phoneno = /^\d{10}$/;
        

        if (user == "" || psw == "" || confirmPass == "" || userName == "" || cmt == "" || sdt == "" || mail == "" || psw != confirmPass) {
            return false;
        }
        if (!sdt.match(phoneno)) {
            alert("Số điện thoại phải đủ 10 số");
            return false;
        }
        
        else {
            return true;
        }
    }
</script>

